{% trans_default_domain 'FOSUserBundle' %}

    <div class="container" id="login">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card card-signin my-5">
                    <div class="card-body">
                        <h2 class="card-title text-center">Inscription</h2>
                        {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register form-signin'}}) }}

                        <div class="form-label-group mt-3">
                            <label for="name">{{ form_label(form.name, 'Nom Prenom', {'label_attr': {'class': 'labelClass mt-5'}}) }}</label>
                            {{ form_widget(form.name, {"attr" : {"class": "form-control"}}) }}
                        </div>

                        <div class="form-label-group mt-3">
                            <label for="username">{{ form_label(form.username, 'Pseudo', {'label_attr': {'class': 'labelClass'}}) }}</label>
                            {{ form_widget(form.username, {"attr" : {"class": "form-control"}}) }}
                        </div>

                        <div class="form-label-group mt-3">
                            <label for="email"> {{ form_label(form.email, 'Email', {'label_attr': {'class': 'labelClass'}}) }}</label>
                            {{ form_widget(form.email, {"attr" : {"class": "form-control"}}) }}
                        </div>

                        <div class="form-label-group mt-3">
                           <label for="email">{{ form_label(form.plainPassword.first, 'Mot de passe', {'label_attr': {'class': 'labelClass'}}) }}</label>
                           {{ form_widget(form.plainPassword.first, {"attr" : {"class": "form-control"}}) }}
                        </div>

                        <div class="form-label-group mt-3">
                           <label for="email">{{ form_label(form.plainPassword.second, 'Confirmez le mot de passe', {'label_attr': {'class': 'labelClass'}}) }}</label>
                           {{ form_widget(form.plainPassword.second, {"attr" : {"class": "form-control"}}) }}
                       </div>
                        <div class="form-label-group mt-5">
                            <div>
                                <input type="submit" class="btn btn-lg btn-success btn-block text-uppercase" value="{{ 'registration.submit'|trans }}" />
                            </div>
                        </div>
                        <hr class="my-4">
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>