{% extends '@App/base.html.twig' %}

{% block titre %}
    Les courses
{% endblock %}



{% block block1 %}
    {#  Message flash pour l'ajout d'une course#}
    {% for message in app.flashes('notice') %}
        <div class="alert alert-success" role="alert">
            <div class="flash-notice">
                <div class="col-12 text-center">
                    {{ message }}
                </div>
            </div>
        </div>
    {% endfor %}

    <div class="container-fluid" id="block-courses">
        <div class="row mb-5 courses d-flex align-items-center">
            <div class="col-12 text-center">
                <h1>Toutes les courses</h1>

                {% for ville in villes  %}
                    <a href="{{ path('ville',{'idVille' : ville.id }) }}" class="ml-5"><button type="button" class="btn btn-lg btn-outline-danger">{{ ville.nom }}</button></a>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="container" id="block-courses">
        <div class="row">
            <h3>Toutes les courses à  </h3>



            {% for ville in villes  %}
               </h3><a href="{{ path('ville',{'idVille' : ville.id }) }}"><h3>&nbsp; {{ ville.nom }} /</a></h3>

            {% endfor %}
        </div>
        <div class="row mt-5 mb-5">
            {% for course in courses  %}
                {% if course.validation == false %}


            <div class="col-sm-12 col-md-4 block mt-3">
                <div class="thumbnail course">
                    <div style="width: 100%"><iframe scrolling="no" width="100%" height="200" src="https://maps.google.com/maps?width=100%&amp;height=600&amp;hl=en&amp;coord={{ course.ville.nom }}&amp;q={{ course.adresseDepart }}&amp;ie=UTF8&amp;t=&amp;z=14&amp;iwloc=B&amp;output=embed" frameborder="0" marginheight="0" marginwidth="0"></iframe></div><br />
                    <div class="caption p-2">
                        <p>Publié le : {{ course.createdAt|localizeddate('none', 'none', null, null, 'd MMMM Y')}}</p>
                        <hr>
                        <a href="#" class="badge  badge-lg badge-secondary text-center" style="background-color: #e74c3c;">Prix : {{ course.prix }} €</a> <a href="#" class="badge  badge-lg badge-dark text-center">Posté par : {{ course.user.username }}</a>
                        <a href="#" class="badge  badge-lg text-center">Posté par : {{ course.user.username }}</a>
                        <p>Ville : {{ course.ville.nom }}</p>
                        <p>Date livraison :  {{ course.dateLivraison|localizeddate('none', 'none', null, null, 'd MMMM Y')}}</p>
                        <p>Départ : {{ course.adresseDepart }} </p>
                        <p>Arrivée : {{ course.adresseArrivee }} </p>
                        <p>Description : {{ course.description }}</p>
                        <p class="text-center">
                            <a href="{{ path('show_course',{'id' : course.id}) }}" class="btn btn-dark" role="button">Voir plus</a>
                            <a href="{{ path('accept_course',{'id' : course.id}) }}" class="btn" style="background-color: #e74c3c;" role="button">Accepter la course</a>
                        </p>
                    </div>
                </div>
            </div>
                {% endif %}
            {% endfor %}

        </div>
        <div class="row">
            <div class="offset-4 col-6 text-center">
                <div class="align-center">
                    {{ knp_pagination_render(courses) }}
                </div>
            </div>
        </div>

        <div class="row mt-5 mb-5 ">
            <h1 class="col-12 text-center">Courses terminées</h1>

            {% for course in courses  %}
                {% if course.validation == true %}


                    <div class="col-sm-12 col-md-3 blockvalide mt-3">
                        <div class="thumbnail course-valide">
                            <div style="width: 100%"><iframe  class="map" scrolling="no" width="100%" height="200" src="https://maps.google.com/maps?width=100%&amp;height=600&amp;hl=en&amp;coord={{ course.ville.nom }}&amp;q={{ course.adresseDepart }}&amp;ie=UTF8&amp;t=&amp;z=14&amp;iwloc=B&amp;output=embed" frameborder="0" marginheight="0" marginwidth="0"></iframe></div><br />
                            <div class="caption p-2">
                                <a href="#" class="badge  badge-lg badge-secondary text-center">Prix : {{ course.prix }} €</a>
                                <p>Ville : {{ course.ville.nom }}</p>
                                <p>Effectué le :  {{ course.dateLivraison|localizeddate('none', 'none', null, null, 'd MMMM Y')}}</p>
                                <p class="text-center">
                                    <a href="{{ path('show_course',{'id' : course.id}) }}" class="btn btn-primary" role="button">Voir plus</a>
                                </p>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}

        </div>


    </div>





{% endblock %}