{% extends '@App/base.html.twig' %}



{% block block1 %}
    <div class="container-fluid" id="block-courses">
        <div class="row mb-5 courses d-flex align-items-center">
            <div class="col-12 text-center">
                <h1>Les courses à {{ ville.nom }}</h1>


                    <a href="{{ path('courses') }}" class="ml-5"><button type="button" class="btn btn-lg btn-outline-danger">Retour</button></a>

            </div>
        </div>
    </div>
<div class="container" id="block-courses">
    <div class="row">

    {% for course in courses  %}
        <div class="col-sm-12 col-md-4 block mt-3">
            <div class="thumbnail">
                <div style="width: 100%"><iframe  class="map" width="100%" height="200" src="https://maps.google.com/maps?width=100%&amp;height=600&amp;hl=en&amp;coord=48.8653796,2.3362337&amp;q=21%20rue%20moliere+(My%20Business%20Name)&amp;ie=UTF8&amp;t=&amp;z=14&amp;iwloc=B&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe></div><br />
                <div class="caption p-2">
                    <h3>{{ course.nom }}</h3>
                    <hr>
                    <p>Date :  {{ course.dateLivraison|date('D d M Y')}}</p>
                    <p>Adresse Départ : {{ course.adresseDepart }} </p>
                    <p>Adresse Arrivée : {{ course.adresseArrivee }} </p>
                    <p><strong>Prix : {{ course.prix }} €</strong></p>
                    <p>Description : {{ course.description }}</p>
                    <p class="text-center"><a href="{{ path('show_course',{'id' : course.id}) }}" class="btn btn-primary" role="button">Voir plus</a> <a href="#" class="btn btn-danger" role="button">Accepter la course</a></p>
                </div>
            </div>
        </div>
    {% endfor %}

    </div>
</div>


{% endblock %}

